body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-roboto: Roboto;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-sm: 14px;
    --font-size-xl: 20px;
    --font-size-lg: 18px;
    --font-size-9xl: 28px;
    --font-size-3xl: 22px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-smi: 13px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkslateblue-100: #074880;
    --color-darkslateblue-200: #064781;
    --color-steelblue-100: #2b6ea8;
    --color-steelblue-200: #155288;
    --color-whitesmoke-100: #f3f3f3;
    --color-whitesmoke-200: #ececec;
    --color-goldenrod: #e5b64c;
    --color-gray-100: #848484;
    --color-gray-200: #838383;
    --color-gray-300: #222;
    --color-darkslategray-100: #254e6f;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #e0e0e0;
    --color-dimgray: #666;
    --color-lightgray-100: #d4d4d4;
    --color-lightgray-200: rgba(212, 212, 212, 0.09);
    --color-lightblue: #c3ebff;
    --color-moccasin: #ffe6ae;
    --color-mediumaquamarine: #5bd1b5;
    --color-firebrick: #bd081c;
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-3xs: 10px;
    --gap-2xs-1: 10.1px;
    --gap-xs: 12px;
    --gap-7xs: 6px;
    --gap-5xl: 24px;
    --gap-5xs: 8px;
    --gap-11xl: 30px;
    --gap-base: 16px;
    --gap-xl-4: 20.4px;
  
    /* Paddings */
    --padding-base: 16px;
    --padding-4xs: 9px;
    --padding-11xs: 2px;
    --padding-3xs: 10px;
    --padding-9xs: 4px;
    --padding-xl: 20px;
    --padding-lg: 18px;
    --padding-7xs: 6px;
    --padding-10xs: 3px;
    --padding-19xl: 38px;
    --padding-8xs: 5px;
    --padding-6xs: 7px;
    --padding-5xs: 8px;
    --padding-17xl: 36px;
    --padding-34xl: 53px;
    --padding-7xl: 26px;
    --padding-4xl: 23px;
    --padding-smi: 13px;
    --padding-sm: 14px;
    --padding-2xl: 21px;
    --padding-xs: 12px;
    --padding-3xl: 22px;
    --padding-23xl: 42px;
    --padding-lgi: 19px;
    --padding-13xl: 32px;
    --padding-8xl: 27px;
    --padding-5xl: 24px;
    --padding-16xl: 35px;
    --padding-35xl: 54px;
    --padding-11xs-4: 1.4px;
    --padding-12xs: 1px;
    --padding-59xl: 78px;
    --padding-32xl: 51px;
    --padding-6xl: 25px;
    --padding-51xl: 70px;
  
    /* Border radiuses */
    --br-7xs: 6px;
    --br-12xs-5: 0.5px;
    --br-11xl: 30px;
    --br-5xs: 8px;
    --br-12xs: 1px;
    --br-41xl: 60px;
    --br-6xl: 25px;
  }
  